<!DOCTYPE html>
<html>
	<head>
		<title>学生管理-修改</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 所有的 css & js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css"> 
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/http-vue-loader@1.4.2/src/httpVueLoader.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../static/sa.js"></script>
		<style type="text/css">
			/* 流体input */
			.c-panel .el-form .el-input,.el-select{width: calc(100% - 120px);}
			.c-panel .el-form .el-select .el-input{width: 100%;}
		</style>
	</head>
	<body>
		<div class="vue-box" :class="{sbot: sid}" style="display: none;" :style="'display: block;'">
			<!-- ------- 内容部分 ------- -->
			<div class="s-body">
				<div class="c-panel">
					<el-form v-if="m">
						<sa-item name="学号" v-model="m.sid" br></sa-item>
						<sa-item name="姓名" v-model="m.name" br></sa-item>
						<sa-item name="课程编号" v-model="m.cid" br></sa-item>
						<sa-item name="成绩" v-model="m.grade" br></sa-item>
						<sa-item name="" class="s-ok" br>
							<el-button type="primary" icon="el-icon-plus" @click="ok()">保存</el-button>
						</sa-item>
					</el-form>
				</div>
			</div>
			<!-- ------- 底部按钮 ------- -->
			<div class="s-foot">
				<el-button type="primary" @click="ok()">确定</el-button>
				<el-button @click="sa.closeCurrIframe()">取消</el-button>
			</div>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				components: {
					"sa-item": httpVueLoader('../../sa-frame/com/sa-item.vue'),				// logo 
				},
				el: '.vue-box',
				data: {
					sid: 0, 
					m: null
				},
				methods: {
					// 创建一个 默认Model 
					createModel: function() {
						return {
							sid: '', 
							name: '', 
							cid: '',
							grade: '',
						}
					},
					// 提交 
					ok: function() {
						// 表单验证 
						sa.checkNull(this.m.sid, '请输入学号');
						sa.checkNull(this.m.cid, '请输入课程编号');
						sa.checkNull(this.m.grade, '请输入成绩');
						// 开始增加
						sa.ajax2('/data/add', this.m, function(res) {
							sa.alert('增加成功', app.clean);
						}.bind(this));
					},
					// 添加/修改 完成后的动作
					clean: function() {
						parent.app.f5();		// 刷新父页面列表
						sa.closeCurrIframe();	// 关闭本页 
					}
				},
				created: function(){
					// 如果是添加
					this.m = this.createModel();
				}
			})
		</script>
		
	</body>
</html>
